.root{
    display: flex;
}

// Боковое меню Начало
.sidebar{
    height: 100vh;
    min-width: 78px;
    background-color: $sidebar_bg;
    padding: 1.1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .sidebar__menu{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 4.5rem;
        .menu__link{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.5rem 0;   
            &_active{
                border-left: 4px solid $accent_color;
            }
        }
        .link__badge{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 16px;
            right: 16px;
            border-radius: 100%;
            background-color: $badge_bg;
            color: #ffffff;
            font-size: 0.75rem;
            font-weight: bold;
        }
    }

}
// Боковое меню Конец

.main{
    width: 100%;
}


// Верхнее меню Начало
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 2.75rem;
    border-bottom: 3px solid $top-menu_border;
    .pagination{
        display: flex;
        align-items: center;
        &__link{
            font-size: 0.8rem;
            letter-spacing: 0.68px;
            color: $text_color;
            opacity: .7;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: rgba($text_color, 0.8);
                transition: width .25s ease;
            }
            &:hover{
                &:after{
                    width: 100%;
                }
            }
            &_current{
                opacity: 1;
            }
        }
        &__angle{
            transform: rotate(-90deg);
            margin: 0 0.75rem;
            path { fill: $accent_color; }
        }
    }

    .account{
        display: flex;
        align-items: center;
        &__image{
            width: 24px;
            height: 24px;
            border-radius: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__name{
            font-size: 0.87rem;
            letter-spacing: 0.28px;
            padding: 0 0.5rem;
        }
        &__angle{
            cursor: pointer;
        }
    }
}

// Верхнее меню Конец

.messages{
    margin: 2.75rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 30px rgba(153, 163, 174, 0.15);
    display: flex;
}


// Список диалогов Начало
.dialogs-list{
    min-width: 20%;
    max-height: 600px;
    overflow-y: auto;
    border-right: 1px solid #EDF0F4;
}

.receiver{
    display: flex;
    align-items: center;
    position: relative;
    padding: 1.5rem 1.37rem;
    transition: box-shadow .25s ease;
    &:hover{
        cursor: pointer;
        box-shadow: $dialog_shadow;
    }
    &__avatar{
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 0.8rem;
        img{
            width: 100%;
        }
    }
    &__info{
        .receiver__name{
            font-family: $exo;
            color: $receiver-name_color;
            letter-spacing: 0.57px;
            margin-bottom: 0.25rem;
            position: relative;
            display: flex;
            .receiver__mute{
                margin-left: 0.6rem;
            }
        }
        .last-message{
            font-size: 0.87rem;
            color: $text_color;
            opacity: 0.43;
        }
    }
    .dispath-time{
        font-size: 12px;
        color: #9BA0AD;
        position: absolute;
        top: 12px;
        right: 12px;
    }
}

.online-marker{
    display: none; 
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 0.2rem;
    background-color: $accent_color;
}

.receiver_online .online-marker{
    display: block;
}

.receiver_selected{
    box-shadow: $dialog_shadow;
}

// Список диалогов Конец

// Диалог Начало
.dialog{
    width: 80%;
    position: relative;
    // Поле поиска Начало
    .search-container{
        display: flex;
        align-items: center;
        padding: 1.2rem;
        border-bottom: 1px solid #F5F6F9;
        background-color: #fff;
        img{
            margin-right: 1.2rem;
        }
        input{
            width: 100%;
            border: none;
            font-size: 14px;
            color: $text_color;
            letter-spacing: 0.5px;
            &::placeholder{
                opacity: 0.4;
            }
        }
    }
    // Поле поиска Конец

    // Список сообщений Начало
    .dialog__messages{
        max-height: 448px;
        overflow-y: auto;
        padding: 1.1rem 1.4rem;
    }
    .message{
        display: flex;
        align-items: flex-end;
        margin-bottom: 1.5rem;
        .receiver-message__img{
            width: 36px;
            height: 36px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
        &__container{
            background-color: $message_bg;
            border-radius: 5px;
            padding: 0.87rem 0.75rem;
            display: flex;
            align-items: flex-end;
            margin-left: 0.6rem;            
            .message__text{
                max-width: 233px;                
                margin-right: 1.37rem;
                font-size: 0.875rem;
                color: $text_color;
                line-height: 20px;
            }
            .message__time{
                font-size: 0.75rem;
                color: #9BA0AD;
            }
        }
    }

    .message.message_receiver{
        flex-direction: row;
    }

    .message.message_author{
        flex-direction: row-reverse;
    }
    // Список сообщений Конец

    .textarea-container{
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.375rem 1.4rem;
        background-color: #fff;
        textarea{
            font-family: $roboto_regular;
            letter-spacing: 0.5px;
            border: none;
            width: 80%;
            resize: none;
            font-size: 0.875rem;
            color: $text_color;
            &::placeholder{
                opacity: 0.4;
            }
        }
        .textarea__toolbar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                width: 20px;
                &:hover{
                    cursor: pointer;
                }
                &:nth-child(2){
                    margin: 0 1.75rem;
                }
            }
            .send-btn{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                box-shadow: $send-btn_shadow;
                padding: 0.5rem;
                border: 1px solid transparent;
                transition: box-shadow .25s ease, border-color .25s ease;
                border-radius: 7px;
                &:hover{
                    cursor: pointer;
                    box-shadow: none;
                    border-color: #BBC3CF;
                }
            }
        }
    }
}
