// FONTS
$roboto_regular: 'Roboto';
$exo: 'Exo 2';

// COLORS
$sidebar_bg: #01134E;
$message_bg: #F7F9FC;
$text_color: #222428;
$receiver-name_color: #01134E;
$accent_color: #0AD69C;
$icon_not-active: #8089A6;
$top-menu_border: #DAE4F2;
$badge_bg: #2A74DB;

// SHADOW
$dialog_shadow: 0px 5px 5px rgba(190, 200, 212, 0.2), 0px -5px 5px rgba(224, 224, 224, 0.15);
$messages_shadow: 0px 0px 30px rgba(153, 163, 174, 0.06);
$text-input_shadow: 0px 0px 20px rgba(153, 163, 174, 0.146541);
$send-btn_shadow: 0px 0px 15px rgba(153, 163, 174, 0.259256);
